@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


footer{
    background-color: rgb(48, 53, 52);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

#formheading{
    text-align: left;
    padding-left: 10rem;
    font-family: 'Poppins';
    padding-right: 8.6rem;
}

.information{
    margin-left: 2.4rem;
    font-size: 0.4rem !important;
}

label{
    font-family: sans-serif;
    font-size: 1rem;
}

input{
    width: 26rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    
}

::placeholder{
    font-size: 1rem;
}

.flexbox{
    width: 50%;
    justify-content: space-evenly;
}

#joinus{
    background-color: rgb(196, 194, 193);
    margin:5rem;
}
#joinus h2{
    text-align: center;
}

#message{
    display: inline;
}

textarea{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    margin-right: 5rem;
}

.submit{
    margin-top: 1rem;
}


.formbox{
    padding-top: 1rem;
    display: flex;
    align-items: flex-start;
}


#contactus{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding-left: 6rem;
}

.social-icons{
    margin-top: 2rem;
}

.social-icons a
{
    color: whitesmoke;
    padding-top:2rem;
}


#contactus h2{
    margin-bottom: 2rem;
    color: whitesmoke;
    font-size: 4rem;
}

.contactid{
    color: whitesmoke;
}

.social-icons a:hover{
    color:rgb(59, 91, 94);
    transition: all 0.4s ease;
}